.train {
  background-image: url('train.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%
}

.sign-me-modal {
  position: fixed;
  bottom: -100%;
  transition: bottom 1s;
}

.sign-me-modal.sign-me-modal--open {
  bottom: 0;
}

@media screen and (min-width: 60em) {
  .sign-me-modal {
    float: left;
    position:inherit;
    width: 30%;
    height: 100vh;
    bottom: auto;
  }
  .wrapper {
    float: left;
    width: 70%
  }
  .sign-me-modal__open-button {
    display: none;
  }
  .sign-me-modal__close-button {
    display: none;
  }

  footer {
    display: none;
  }
}
