.train {
  background-image: url('train.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%
}

.sign-me-modal {
  position: fixed;
  bottom: -100%;
  transition: bottom 1s;
}

.sign-me-modal.sign-me-modal--open {
  bottom: 0;
}

.comments__inner {
  transition: all 0.5s ease-in-out;
  position: absolute;
}

.comments__inner--hidden {
  opacity: 0;
  /*display: none;*/
}

.comments__text::after {
  content: close-quote;
}

.comments__text::before {
  content: open-quote;
}

.comments__author::before {
  content: '- ';
}

@media screen and (min-width: 60em) {
  .comments {
    display: inline-block;
  }
  .sign-me-modal {
    float: left;
    position:inherit;
    width: 30%;
    height: 100%;
    min-height: 100vh;
    overflow: auto;
    margin: 0;
  }
  .sign-me-modal textarea {
    resize: vertical;
  }
  .wrapper {
    float: left;
    width: 70%
  }
  .sign-me-modal__open-button {
    display: none;
  }
  .sign-me-modal__close-button {
    display: none;
  }

  footer {
    display: none;
  }
}
